.login-container {
    position: relative;
    top: 20%;
    padding: 28px 34px;
    background-color: white;
    border-radius: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.login-nav {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 14px;
    padding: 3px 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.toggle-container {
    z-index: 1;
    position: absolute;
    width: 180px;
    height: 50px;
    background-color: #6D95FA;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    transform: 0;
    transition: transform 0.3s ease
}

.login-nav-text {
    z-index: 2;
    margin: 11px 46px;
    color: #626262;
    font-weight: 600;
    font-size: 24px;
    cursor: pointer;
}

.active {
    color: white;
}

.inputs-container {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-icon {
    font-size: 24px;
    color: #828282;
}

.input-container {
    display: flex;
    gap: 13px;
    align-items: center;
    border-radius: 9px;
    background: #E9E9E9;
    padding: 15px;
}

input {
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: 20px;
    outline: none;
    color: #626262;
}

input::placeholder {
    color: #828282;
}

.login-button {
    width: 100%;
    background-color: #6D95FA;
    padding: 10px;
    font-size: 24px;
    color: white;
    border-radius: 8px;
    border: none;
}

.login-button:hover {
    background-color: #84a2f0;
    cursor: pointer;
}