.users-page {
    display: flex;
    gap: 14px;
    align-items: center;
}

.logout-icon {
    top: 2%;
    right: 2%;
    position: absolute;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.users-list-containers {
    width: 800px;
    padding: 40px;
    background-color: white;
    border-radius: 11px;
}

.title {
    margin: 0 0 66px;
    color: #424242;
    font-size: 32px;
    font-weight: 600;
    text-align: start;
}

.list-head {
    display: flex;
    gap: 100px;
    margin: 0 22px;
}

.list-head p {
    width: 100px;
    color: #4D4D4D;
    font-size: 18px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #A7A7A7;
}

.users-list {
    margin-top: 20px;
}

.user-container {
    display: flex;
    align-items: center;
    gap: 87px;
    border-radius: 7px;
    background: #EDEDED;
    padding: 15px;
    margin-bottom: 20px;
}

.user-container p {
    width: 150px;
    font-size: 16px;
}

.score-button {
    background: #6D95FA;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 25px;
    border: 0;
    cursor: pointer;
    margin-left: 40px;
    height: fit-content;
}

.score-button:hover {
    background-color: #84a2f0;
}

.side-navbar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 88px;
    width: 101px;
    height: 280px;
    border-radius: 11px;
    background: #FFFEFE;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.side-navbar-toggle {
    z-index: 1;
    width: 79px;
    height: 118px;
    position: absolute;
    top: 0;
    right: 50%;
    margin-top: 16px;
    transform: translateX(50%);
    border-radius: 5px;
    background-color: #6D95FA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease
}

.side-navbar-icons {
    z-index: 2;
    font-size: 30px;
    cursor: pointer;
}