:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: linear-gradient(180deg, #5094B9 0%, #244353 100%);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}